<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="mt-5">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div
    id="login-form"
    aria-live="polite"
    aria-atomic="true"
    style="position: relative; min-height: 200px"
  >
    <div class="logout d-flex justify-content-between flex-row">
      <h2 class="window-title">Update Profile</h2>
    </div>

    <div class="d-flex justify-content-center align-items-center icon">
      <div class="text-center profile-container" (click)="getImages()">
        <img
          [src]="userForm.image_url!= null ? userForm.image_url : '../../assets/images/default.png'"
        />
        <div class="img-overlay">
          <ion-icon name="apps-outline" class="img-change"></ion-icon>
        </div>
      </div>
    </div>
    <form #form="ngForm" (ngSubmit)="save(form)" method="post">
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input
          [(ngModel)]="userForm.name"
          type="text"
          name="name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          [(ngModel)]="userForm.email"
          type="email"
          name="email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">New password</ion-label>
        <ion-input
          [(ngModel)]="userForm.new_password"
          type="password"
          minlength="8"
          name="new_password"
        ></ion-input>
      </ion-item>
      <ion-buttons><ion-button type="submit">Save</ion-button></ion-buttons>
    </form>
  </div>
</ion-content>
