ion-item {
  --background: transparent;
}
.logout {
  margin: 0 30px 20px 30px;
  .window-title {
    font-weight: 700;
    font-size: 22px;
    width: 50%;
    color: #6b7994;
    margin-top: 10px;
  }
  ion-button {
    border: 1px solid #ebedf0;
    border-radius: 20px;
    background-color: #ebedf0;
    color: #de3577;
    font-weight: 700;
  }
}
h2 {
  font-weight: 700;
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 26px;
  color: #6b7994;
}
table {
  font-size: 2vw;
  th,
  td {
    padding: 0.35rem;
  }
}
#user-form {
  background-color: #f5f6f8;
  padding: 90px 0;

  .profile-container {
    position: relative;
  }
  .img-overlay {
    //background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .img-change {
      font-size: 18px;
      color: white !important;
      border-radius: 50%;
      cursor: pointer;
      background-color: #3880ff;
      padding: 5px;
    }
  }
  form {
    width: 100%;
    ion-buttons {
      width: 80%;
      margin: auto;
    }
    ion-button {
      border: 1px solid #ebedf0;
      width: 100%;
      margin: auto;
      margin-top: 20px;
      border-radius: 20px;
      background-color: #ebedf0;
      color: #de3577;
      font-weight: 700;
    }
  }
  .icon {
    padding: 20px 0 20px;
    img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
  }
  .form-container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  ion-item {
    width: 90%;
    margin: auto;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;

    label {
      color: #de3577;
    }
  }
}
.deleteBtn {
  font-size: 2vw;
  padding: 5px;
  background-color: #ebedf0;
  color: #de3577;
}
