<ion-content padding>
  <div
    id="login-form"
    aria-live="polite"
    aria-atomic="true"
    style="position: relative; min-height: 200px"
  >
    <div class="d-flex justify-content-center align-items-center icon">
      <h2 class="text-center">Smart Door</h2>
      <ion-icon name="lock-open"></ion-icon>
    </div>
    <form #form="ngForm" (ngSubmit)="login(form)" method="post">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input ngModel type="email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input ngModel type="password" name="password"></ion-input>
      </ion-item>

      <ion-buttons><ion-button type="submit">Login</ion-button></ion-buttons>
    </form>
    <div class="form-container"></div>
  </div>
</ion-content>
