<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Logs </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="home">
  <div class="logs">
    <div class="log">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Rebecca de Roxas</ion-card-title>
          <ion-card-subtitle>Action: <span>Accepted</span></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p class="date">13 Oct 2020</p>
        </ion-card-content>
        <div class="control-type">
          <p>By <span>Camera</span></p>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
